.input{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
}

::selection{
    background: var(--bs-primary);
    background: rgb(245, 222, 179,0.5);
    color: rgb(255, 255, 255);
}
::-moz-selection{
    background: var(--bs-primary);
    color: black;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:1.3rem 10%;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.1rem;
    transition: .3s;
}

.gallery-index{
    margin-top: auto;
    display: grid;
    text-align: center;
    align-items: center;
}


